
@{
    ViewData["Title"] = "ViewPendingList";
    Layout = "~/Views/Shared/LayoutForAnother.cshtml";
}

<link rel="stylesheet" href="~/css/StyleForShow.css" type="text/css" />
<div class="container">
    <form id="contact" action="" method="post">
        <div>
            <div align="center"><h3>Expense Pending List</h3></div>
        </div>



        <div align="center">
            <table class="table table-hover " id="pendingListTable">
                <thead>
                    <tr>
                        <th scope="col">#SL</th>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Cash/Check</th>
                        <th scope="col">Particular</th>
                    </tr>
                </thead>
                <tbody id="tableBody">
                    @{
                        int sl = 1;
                        int index = 0;
                        List<Expense> list = ViewBag.PendingList;
                        if (list.Count > 0)
                        {
                            foreach (var pendingList in list)
                            {
                                <tr>
                                    <th scope="row">@sl</th>

                                    <td>@pendingList.Date.ToShortDateString()</td>
                                    <td>@pendingList.Amount</td>
                                    <td>@pendingList.PaymentType</td>
                                    <td>@pendingList.Particular</td>
                                </tr>
                                sl++;
                                index++;
                            }

                        }
                        else
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <p style="">Pending Expense not found</p>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        </div>

    </form>
</div>


